---
const { name, imgURL } = Astro.props;

const coverImageUrl = `https://covers.openlibrary.org/b/olid/${OLID}-M.jpg`;
---

<a href={link}>
  <div class="book-item p-10 drop-shadow-md">
    <img src={coverImageUrl} alt={title} + "cover image" />
    <h3 class="w-20 italic font-bold">{title}</h3>
    <p>{author}</p>
  </div>
</a>
